<a href="https://colab.research.google.com/github/vsvale/Cleaning-Data-Python-Data-Playbook/blob/main/Cleaning_Data_Python_Data_Playbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tate

In [ ]:
import pandas as pd

In [ ]:
url_art = 'https://raw.githubusercontent.com/tategallery/collection/master/artwork_data.csv'

In [ ]:
art = pd.read_csv(url_art,error_bad_lines=False)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
art.width = pd.to_numeric(art.width,errors='coerce')
art.height = pd.to_numeric(art.height,errors='coerce')
art.year = pd.to_numeric(art.year,errors='coerce')

In [ ]:
art.head()

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[5 rows x 20 columns]

In [ ]:
art.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                  float64
acquisitionYear       float64
dimensions             object
width                 float64
height                float64
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [ ]:
art.describe()

                  id      artistId  ...        height         depth
count   69201.000000  69201.000000  ...  65859.000000   2514.000000
mean    39148.026213   1201.063251  ...    346.436173    479.197772
std     25980.468687   2019.422535  ...    538.037975   1051.141734
min         3.000000      0.000000  ...      6.000000      1.000000
25%     19096.000000    558.000000  ...    117.000000     48.250000
50%     37339.000000    558.000000  ...    190.000000    190.000000
75%     54712.000000   1137.000000  ...    359.000000    450.000000
max    129068.000000  19232.000000  ...  37500.000000  18290.000000

[8 rows x 7 columns]

In [ ]:
art.year

0           NaN
1           NaN
2        1785.0
3           NaN
4        1826.0
          ...
69196    1975.0
69197    1976.0
69198    1996.0
69199    2000.0
69200    1764.0
Name: year, Length: 69201, dtype: float64

In [ ]:
art.year.min()

1545.0

In [ ]:
art.year.max()

2012.0

In [ ]:
art.year.agg(['mean','std'])

mean    1867.227823
std       72.012718
Name: year, dtype: float64

In [ ]:
art.year.count()

63804

In [ ]:
art.year.groupby(art.year).count()

year
1545.0      2
1557.0      1
1563.0      1
1565.0      1
1569.0      1
         ...
2008.0    111
2009.0     84
2010.0     64
2011.0     29
2012.0     46
Name: year, Length: 360, dtype: int64

In [ ]:
normalize = (art.height - art.height.mean()) / art.height.std()
normalize

0        0.134867
1       -0.248005
2        0.224081
3        0.088402
4       -0.021255
           ...
69196   -0.077013
69197   -0.077013
69198    3.835350
69199         NaN
69200    0.582791
Name: height, Length: 69201, dtype: float64

In [ ]:
#value between 0 and 1
minmax = (art.height - art.height.min()) / (art.height.max() - art.height.min())
minmax

0        0.011015
1        0.005521
2        0.012295
3        0.010348
4        0.008775
           ...
69196    0.007975
69197    0.007975
69198    0.064117
69199         NaN
69200    0.017443
Name: height, Length: 69201, dtype: float64

In [ ]:
art['height_norm'] = normalize
art['height_minmax'] = minmax

In [ ]:
art['height_cm'] = art.height.transform(lambda x: x/10)

In [ ]:
art.groupby('artist')['height'].transform('mean')

0         373.250000
1         373.250000
2         373.250000
3         373.250000
4         266.944134
            ...
69196     305.000000
69197     305.000000
69198    1491.285714
69199    3515.333333
69200     660.000000
Name: height, Length: 69201, dtype: float64

In [ ]:
simpleart= art.filter(items=['artist','height','width'])
simpleart

                   artist  height  width
0           Blake, Robert   419.0  394.0
1           Blake, Robert   213.0  311.0
2           Blake, Robert   467.0  343.0
3           Blake, Robert   394.0  318.0
4          Blake, William   335.0  243.0
...                   ...     ...    ...
69196  P-Orridge, Genesis   305.0  305.0
69197  P-Orridge, Genesis   305.0  305.0
69198        Hatoum, Mona  2410.0   45.0
69199       Creed, Martin     NaN    NaN
69200   Brunias, Agostino   660.0  508.0

[69201 rows x 3 columns]

In [ ]:
simpleart.drop(0) #delete first row

                   artist  height  width
1           Blake, Robert   213.0  311.0
2           Blake, Robert   467.0  343.0
3           Blake, Robert   394.0  318.0
4          Blake, William   335.0  243.0
5          Blake, William   338.0  240.0
...                   ...     ...    ...
69196  P-Orridge, Genesis   305.0  305.0
69197  P-Orridge, Genesis   305.0  305.0
69198        Hatoum, Mona  2410.0   45.0
69199       Creed, Martin     NaN    NaN
69200   Brunias, Agostino   660.0  508.0

[69200 rows x 3 columns]

In [ ]:
simpleart['columtodrop'] = 0
simpleart['columntodrop'] = 1
simpleart

                   artist  height  width  columtodrop  columntodrop
0           Blake, Robert   419.0  394.0            0             1
1           Blake, Robert   213.0  311.0            0             1
2           Blake, Robert   467.0  343.0            0             1
3           Blake, Robert   394.0  318.0            0             1
4          Blake, William   335.0  243.0            0             1
...                   ...     ...    ...          ...           ...
69196  P-Orridge, Genesis   305.0  305.0            0             1
69197  P-Orridge, Genesis   305.0  305.0            0             1
69198        Hatoum, Mona  2410.0   45.0            0             1
69199       Creed, Martin     NaN    NaN            0             1
69200   Brunias, Agostino   660.0  508.0            0             1

[69201 rows x 5 columns]

In [ ]:
simpleart.drop('columtodrop',axis=1,inplace=True)
simpleart.drop(columns=['columntodrop'],inplace=True)
simpleart

                   artist  height  width
0           Blake, Robert   419.0  394.0
1           Blake, Robert   213.0  311.0
2           Blake, Robert   467.0  343.0
3           Blake, Robert   394.0  318.0
4          Blake, William   335.0  243.0
...                   ...     ...    ...
69196  P-Orridge, Genesis   305.0  305.0
69197  P-Orridge, Genesis   305.0  305.0
69198        Hatoum, Mona  2410.0   45.0
69199       Creed, Martin     NaN    NaN
69200   Brunias, Agostino   660.0  508.0

[69201 rows x 3 columns]

In [ ]:
art.columns

Index(['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailCopyright', 'thumbnailUrl', 'url', 'height_norm',
       'height_minmax', 'height_cm'],
      dtype='object')

In [ ]:
import re
art.columns = [re.sub(r'([A-Z])',r'_\1' ,x).lower() for x in art.columns]
art.columns

Index(['id', 'accession_number', 'artist', 'artist_role', 'artist_id', 'title',
       'date_text', 'medium', 'credit_line', 'year', 'acquisition_year',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnail_copyright', 'thumbnail_url', 'url', 'height_norm',
       'height_minmax', 'height_cm'],
      dtype='object')

In [ ]:
art.rename(columns={'thumbnail_url':'thumbnail'},inplace=True)

In [ ]:
art['artist'][0]

'Blake, Robert'

In [ ]:
art[['artist','medium']]['artist'][0]

'Blake, Robert'

In [ ]:
art[['artist','medium']][1:2]

          artist             medium
1  Blake, Robert  Graphite on paper

In [ ]:
art[art['year'] > 2000][['artist','medium','year']]

                     artist  ...    year
1763       Richter, Gerhard  ...  2004.0
1765       Richter, Gerhard  ...  2004.0
1766       Richter, Gerhard  ...  2002.0
1767       Richter, Gerhard  ...  2002.0
1770             Mueck, Ron  ...  2005.0
...                     ...  ...     ...
69178        Walker, Kelley  ...  2010.0
69179       Bulloch, Angela  ...  2012.0
69183          Black, Karla  ...  2011.0
69187          Lord, Andrew  ...  2004.0
69190  Andrade, Jonathas de  ...  2009.0

[1484 rows x 3 columns]

In [ ]:
art.loc[art.artist == 'Richter, Gerhard',['title','year']]

                                                   title    year
1759                       Mirror Painting (Grey, 735-2)  1991.0
1760            Corner Mirror, brown-blue (737-1, 737-2)  1991.0
1761         Corner Mirror, green-red (737-2 A, 737-2 B)  1991.0
1762                                        48 Portraits  1971.0
1763                                            11 Panes  2004.0
1764                           Abstract Painting (809-3)  1994.0
1765                    Abstract Painting (Skin) (887-3)  2004.0
1766                Abstract Painting (Silicate) (880-4)  2002.0
1767                    Abstract Painting (Grey) (880-3)  2002.0
1919      Self Portrait Standing, Three Times, 17.3.1991  1991.0
1920                Two Sculptures for a Room by Palermo  1971.0
2081                                   Brigid Polk (305)  1971.0
2082                      Gilbert, George (381-1, 381-2)  1975.0
2083                                            Untitled  1985.0
52724                                        Elizabeth I  1966.0
55403  128 Details from a Picture (Halifax 1978) II (...  1998.0
57790                          Abstract Painting No. 439  1978.0
57822                              Oil Sketch No. 432/11  1977.0
60634                                            St John  1988.0
61939                Self-Portrait, Three Times, 24.1.90  1990.0
62024                            Abstract Painting (726)  1990.0

In [ ]:
art.medium

0        Watercolour, ink, chalk and graphite on paper....
1                                        Graphite on paper
2              Graphite on paper. Verso: graphite on paper
3                                        Graphite on paper
4                                  Line engraving on paper
                               ...
69196     Perspex, Wood, hairpiece, tampon and human blood
69197    Wood, Perspex, plastic, photograph on paper, t...
69198                                 Soap and glass beads
69199                                     Gallery lighting
69200                                  Oil paint on canvas
Name: medium, Length: 69201, dtype: object

In [ ]:
art.loc[art.medium.str.contains('Graphite',case=False,na=False),['artist','medium']]

                       artist                                             medium
0               Blake, Robert  Watercolour, ink, chalk and graphite on paper....
1               Blake, Robert                                  Graphite on paper
2               Blake, Robert        Graphite on paper. Verso: graphite on paper
3               Blake, Robert                                  Graphite on paper
32             Blake, William        Graphite on paper. Verso: graphite on paper
...                       ...                                                ...
69140           Horn, Rebecca  Graphite, coloured graphite and acrylic paint ...
69154  Hepworth, Dame Barbara  Graphite, watercolour, crayon and oil paint on...
69155  Hepworth, Dame Barbara  Oil paint, watercolour, crayon and graphite on...
69156  Hepworth, Dame Barbara  Oil paint, watercolour, crayon and graphite on...
69157  Hepworth, Dame Barbara                    Oil paint and graphite on paper

[32313 rows x 2 columns]

In [ ]:
art.loc[art.medium.str.contains('(?i)Graphite',regex=True,na=False),['artist','medium']]

                       artist                                             medium
0               Blake, Robert  Watercolour, ink, chalk and graphite on paper....
1               Blake, Robert                                  Graphite on paper
2               Blake, Robert        Graphite on paper. Verso: graphite on paper
3               Blake, Robert                                  Graphite on paper
32             Blake, William        Graphite on paper. Verso: graphite on paper
...                       ...                                                ...
69140           Horn, Rebecca  Graphite, coloured graphite and acrylic paint ...
69154  Hepworth, Dame Barbara  Graphite, watercolour, crayon and oil paint on...
69155  Hepworth, Dame Barbara  Oil paint, watercolour, crayon and graphite on...
69156  Hepworth, Dame Barbara  Oil paint, watercolour, crayon and graphite on...
69157  Hepworth, Dame Barbara                    Oil paint and graphite on paper

[32313 rows x 2 columns]

In [ ]:
art.loc[
        art.medium.str.contains('Graphite|line',case=False,na=False) &
        art.artist.str.contains('(?i)Blake',regex=True,na=False) &
        art.year.astype('str').str.contains('1797',case=False,na=False),
        ['artist','medium','year']
        ]

               artist                               medium    year
62011  Blake, William  Line engraving and etching on paper  1797.0
62012  Blake, William  Line engraving and etching on paper  1797.0
62013  Blake, William  Line engraving and etching on paper  1797.0

In [ ]:
art.loc[art.title.str.contains('\s$',regex=True)]

          id accession_number  ... height_minmax height_cm
49498   4308           P07466  ...      0.003921      15.3
50534   2235           P11065  ...      0.018510      70.0
50535   2236           P11066  ...      0.018456      69.8
50537   2238           P11068  ...      0.018190      68.8
53186  21168           P77679  ...      0.009948      37.9
56283   5826           T00705  ...      0.021523      81.3
67409  88191           T12064  ...      0.001974       8.0
67432  88215           T12087  ...      0.003574      14.0

[8 rows x 23 columns]

In [ ]:
art.title = art.title.str.strip() #trim

In [ ]:
pd.isna(art.loc[:,'date_text'])

0        False
1        False
2        False
3        False
4        False
         ...
69196    False
69197    False
69198    False
69199    False
69200    False
Name: date_text, Length: 69201, dtype: bool

In [ ]:
from numpy import nan
#art.replace({'date_text':{'date not known': nan}},inplace=True)
art.loc[art.date_text=='date not known',['date_text']] = nan

In [ ]:
art.loc[art.year.notnull() & art.year.astype(str).str.contains('^[0-9]')]

           id accession_number  ... height_minmax height_cm
2        1037           A00003  ...      0.012295      46.7
4        1039           A00005  ...      0.008775      33.5
5        1040           A00006  ...      0.008855      33.8
6        1041           A00007  ...      0.008748      33.4
7        1042           A00008  ...      0.008908      34.0
...       ...              ...  ...           ...       ...
69196  122960           T13865  ...      0.007975      30.5
69197  122961           T13866  ...      0.007975      30.5
69198  121181           T13867  ...      0.064117     241.0
69199  112306           T13868  ...           NaN       NaN
69200  127035           T13869  ...      0.017443      66.0

[63804 rows x 23 columns]

In [ ]:
art.loc[art.year=='no date',['year']] = nan

In [ ]:
art.fillna(value={'depth':0},inplace=True)

In [ ]:
art.dropna()

          id accession_number  ... height_minmax height_cm
1025     550           A01029  ...      0.005761      22.2
1026     551           A01030  ...      0.004081      15.9
1027     552           A01031  ...      0.004747      18.4
1028     553           A01032  ...      0.005948      22.9
1029     554           A01033  ...      0.005441      21.0
...      ...              ...  ...           ...       ...
67576  89914           T12231  ...      0.006588      25.3
67577  89915           T12232  ...      0.006588      25.3
67578  89916           T12233  ...      0.006588      25.3
67579  89917           T12234  ...      0.006588      25.3
67580  89918           T12235  ...      0.006588      25.3

[3839 rows x 23 columns]

In [ ]:
art.dropna(subset=['year','acquisition_year'],how='all',inplace=True)

In [ ]:
art.drop_duplicates(inplace=True)